
.wp-block-infinite-uploads-imajinn-ai {

  .results-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
	gap: 16px;
	width: 100%;
	margin-bottom: 20px;
  }

  .loop-show {
	cursor: pointer;

	&:hover {
	  .loop-icon {
		background: rgba(0, 0, 0, 0.5);
		visibility: visible;
		transition: 0.2s;
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	  }
	}
  }

  .loop-icon {
	position: absolute;
	visibility: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
  }

  img.generation-zoom {
	cursor: pointer;
  }
}

@media screen and (max-width: 1756px) {
  .wp-block-infinite-uploads-imajinn-ai {
	.results-grid {
	  grid-template-columns: 3fr 3fr;
	}
  }
}

@media screen and (max-width: 1120px) {
  .wp-block-infinite-uploads-imajinn-ai {
	.results-grid {
	  grid-template-columns: 1fr !important;
	}
  }
}
