.wp-block-infinite-uploads-imajinn-ai {
  .imajinn-loading {
	margin: 40px auto;

	.components-button {
	  margin-left: 5px;
	}

	.imajinn-spinner {
	  width: 100px;
	  height: 100px;
	  display: block;
	  margin: 0 auto;
	}
  }
}
