.wp-block-infinite-uploads-imajinn-ai {
  .components-card-footer {
	padding: calc(10px) calc(10px);

	.imajinn-image-insert {
	  margin-left: 5px;
	}

	.components-button-group.imajinn-image-actions .components-button {
	  box-shadow: none;
	  border: none;
	}

	.components-button:not(.has-text) .components-spinner {
	  height: 24px;
	  margin: 0;
	}
	.components-button.has-text .components-spinner {
	  height: 24px;
	  margin: 0 6px 0 4px;
	}
  }
}
