.imajinn-toolbar {
  .credit-label {
	padding: 24px 0 24px 6px;
  }

  .credits {
	font-size: 18px;
	padding: 24px 0 24px 6px;
  }

  .refreshing-button {
	padding-left: 0;

	.dashicon {
	  color: gray;
	}

	&.is-refreshing .dashicon {
	  /* The animation part: */
	  animation-name: spin;
	  animation-duration: 2000ms;
	  animation-iteration-count: infinite;
	  animation-timing-function: linear;

	  @keyframes spin {
		from {
		  transform: rotate(0deg);
		}

		to {
		  transform: rotate(360deg);
		}
	  }
	}

  }
}
