.imajinn-history {
  .components-panel__body-title {
	height: 50px;

	.components-button {
	  margin-top: 7px;
	  float: right;
	  margin-right: 10px;
	}

	img {
	  height: 50px;
	  width: 50px;
	  float: left;
	}
  }

  .components-panel__row {
	clear: both;
  }
}
