.imajinn-history {
  .components-panel__body-title {
    height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    span {
      margin-left: 16px;
    }

    .components-button {
      margin-right: 10px;
    }

    img {
      height: 50px;
      width: 50px;
      float: left;
    }
  }
}
