



.imajinn-block-editor__block-list {
	padding-bottom: $grid-unit-60;
	padding-top: 140px;
	margin-left: auto;
	margin-right: 20px;

    .block-editor-block-list__block {
        margin-left: auto;
        margin-right: auto;
    }

    .wp-block {
        //max-width: $content-width;
    }
}

