.wp-block-infinite-uploads-imajinn-ai {

  .prompt-genie {
	.components-base-control__field {
	  margin-bottom: 7px;
	}

	label {
	  line-height: 1.2;
	}

	.components-button.has-icon.has-text {
	  padding: 0 8px 0 0;
	  height: 30px;
	  min-width: 90px;
	  margin-bottom: 0;

	  svg {
		height: 18px;
		margin-right: 0;
	  }
	}
  }
}

/* Prompt Genie modal */
button.genie-generate {
  margin-left: 10px;
}
