.imajinn-header {
	display: flex;
	align-items: center;
	height: 80px;
	justify-content: flex-start;
	padding-left: 20px;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
	left: -20px;
	width: calc(100% + 20px);
}

// @include editor-left(".imajinn-header");

.imajinn-header__title {
	font-size: 16px;
	padding: 0 20px;
}